---
import Layout from "../layouts/Layout.astro";
import Slide1 from "../slides/pres1/Slide1.astro";
// import Slide2 from "../slides/pres1/Slide2.astro";
---

<Layout title="プレゼンテーション1">
	<div class="reveal">
		<div class="slides">
			<Slide1 />
			<!--<Slide2 />-->
		</div>
	</div>
</Layout>
