---
import Layout from "../layouts/Layout.astro";
import Slide1 from "../slides/pres1/Slide1.astro";
import WhyAstro from "../slides/WhyAstro.astro";
import Title from "../slides/Title.astro";
// import Slide2 from "../slides/pres1/Slide2.astro";
---

<Layout title="プレゼンテーション1">
	<div class="reveal">
		<div class="slides">
			<Title />
			<WhyAstro />
		</div>
	</div>
</Layout>
